<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>Web技術入門課題ページ</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <% result = connection.exec("SELECT * FROM crops WHERE NOT give_for = '自家消費';") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data <<
      "長さ:#{record["length"]} 重さ:#{record["weight"]} 品質:#{record["quality"]} 譲渡先:#{record["give_for"]} 日付:#{record["date"]}" %>
    <% end %>
    <form action="goya.cgi" method="POST">
       下記の送信ボタンを押すと、譲渡先が自家消費出はないゴーヤのページへ<br><br>

      <input type="text" name="goya1" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>

    <% result_false = connection.exec("SELECT * FROM crops WHERE quality = 'false';") %>
    <% data_false = [] %>
    <% result_false.each do |record_false| %>
      <%  data_false <<
      "長さ:#{record_false["length"]} 重さ:#{record_false["weight"]} 譲渡先:#{record_false["give_for"]} 日付:#{record_false["date"]}" %>
    <% end %>
    <form action="goya_false.cgi" method="POST">
       下記送信ボタンを押すと、品質が悪いもゴーヤのページへ<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya_false" value="<%= data_false.join(' ') %>">
      <input type="submit" name="送信" >
    </form>

    <h2>テスト</h2>
    <% result_give_for = connection.exec("SELECT COUNT(*), give_for FROM crops GROUP BY give_for;")%>
    <% data_give_for = [] %>
    <% result_give_for.each do |record_give_for| %>
      <% data_give_for << "回数:#{record_give_for["count"]} 譲渡先:#{record_give_for["give_for"]}" %>
    <% end %>
    <form action="goya.cgi" method="POST">
      テスト（ボタンのみで移行）
      <!-- <input type="text" name="goya2" value="<%= data_give_for.join(' ') %>"> -->
      <!-- <input type="submit" name="送信" > -->
      <button type='submit' name='goya2' value="<%= data_give_for.join('<br>') %>">テスト</button>
    </form>
  </body>
</html>
